.Colegas__description {
  grid-column: 1; /* Ocupa la primera columna */
  font-family: "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 24px;

  line-height: 1.2;
  margin: 0;
  width: 738px;
  height: 135px;
}
