.Colegas__content {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr; /* */
  gap: 40px; /* Espacio entre columnas */
  margin-top: 92px; /* Separación desde la imagen */
  margin-bottom: 92px;
  width: 830px;
  height: 592px;
}
.Colegas__content-title {
  grid-column: 1; /* Ocupa la primera columna */
  font-family: "Inter-Black", sans-serif;
  font-weight: 700;
  font-size: 54px;
  color: white;
  line-height: 1.2;
  margin: 0;
  width: 830px;
  height: 173px;
}
