.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 34px 0;
  background-color: #2a2c2f;
}

.header__logo {
  width: 270px;
  height: auto;
}
.header__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 700;
}
