@media screen and (max-width: 1024px) {
  .Colegas__title {
    font-size: 40px;
    width: 90%;
    height: auto;
  }

  .Colegas__subtitle {
    font-size: 24px;
    width: 90%;
  }

  .Colegas_imagen {
    width: 90%;
    height: auto;
  }

  .Colegas__content {
    width: 90%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 0 30px;
  }

  .Colegas__content-title {
    font-size: 42px;
    width: 100%;
    height: auto;
  }

  .Colegas__description {
    font-size: 20px;
    width: 100%;
    height: auto;
  }

  .Colegas__autor {
    font-size: 20px;
    width: 100%;
    height: auto;
  }

  .Colegas__description-extended {
    font-size: 16px;
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 544px) {
  .Colegas__title {
    font-size: 28px;
    width: 90%;
    height: auto;
    padding: 0 20px;
  }

  .Colegas__subtitle {
    font-size: 16px;
    width: 90%;
    padding: 0 20px;
  }

  .Colegas_imagen {
    width: 95%;
    height: auto;
  }

  .Colegas__content {
    width: 95%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0 20px;
    gap: 30px;
  }

  .Colegas__content-title {
    font-size: 28px;
    width: 100%;
    height: auto;
  }

  .Colegas__description {
    font-size: 18px;
    width: 100%;
    height: auto;
  }

  .Colegas__autor {
    font-size: 18px;
    width: 100%;
    height: auto;
  }

  .Colegas__description-extended {
    font-size: 14px;
    width: 100%;
    height: auto;
  }
}
