@import url("../vendor/normalize.css");
@import url("../vendor/fonts.css");
@import url("../blocks/header.css");
@import url("../blocks/page.css");
@import url("../blocks/Colegas.css");
@import url("../blocks/Colegas__content.css");
@import url("../blocks/footer.css");
@import url("../blocks/mediascreen.css");
